body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

    background-image: url("image/bg.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.header {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}